{
  "presets": [["@babel/preset-env", { "loose": true }]],
  "plugins": [
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".js"],
        "alias": {
          "config": "./src/app/config",
          "controllers": "./src/app/controllers",
          "database": "./src/app/database",
          "entities": "./src/app/entities",
          "i18n": "./src/app/i18n",
          "helpers": "./src/app/helpers",
          "middleware": "./src/app/middleware",
          "models": "./src/app/models",
          "repositories": "./src/app/repositories",
          "routes": "./src/app/routes",
          "services": "./src/app/services",
          "utils": "./src/app/utils"
        }
      }
    ],
    ["@babel/plugin-transform-optional-chaining", { "loose": true }]
  ]
}
