{
  "presets": [["@babel/preset-env", { "loose": true }]],
  "plugins": [
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".js"],
        "alias": {
          "config": "./app/config",
          "controllers": "./app/controllers",
          "database": "./app/database",
          "entities": "./app/entities",
          "i18n": "./app/i18n",
          "helpers": "./app/helpers",
          "mcp": "./app/protocols/mcp",
          "middleware": "./app/middleware",
          "models": "./app/models",
          "repositories": "./app/repositories",
          "routes": "./app/routes",
          "services": "./app/services",
          "utils": "./app/utils"
        }
      }
    ],
    ["@babel/plugin-transform-optional-chaining", { "loose": true }]
  ]
}
