{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./app/config",
          "controllers": "./app/controllers",
          "database": "./app/database",
          "entities": "./app/entities",
          "i18n": "./app/i18n",
          "helpers": "./app/helpers",
          "middleware": "./app/middleware",
          "models": "./app/models",
          "repositories": "./app/repositories",
          "routes": "./app/routes",
          "services": "./app/services"
        }
      }
    ]
  ]
}
